.Presentation {
  position: relative;
  min-height: 60vh;
  padding-top: 1rem;
  &__Image {
    position: absolute;
    top: -2rem;
    right: 0;
    width: 100%;
    max-width: 1440px;
    z-index: -1;
    &__S {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
  &__SaibaMais {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    h5 {
      margin-bottom: 0.75rem;
    }
  }
}
